  <div class="glass-card" style="border-top: 4px solid #EC4899; height: 100%;">
            <h4 style="margin: 0px 0px 8px 0px; color: #EC4899;">👑 Strategi Retensi VIP</h4>
            <p style="font-size: 13.5px; color: #CBD5E1; line-height: 1.5; margin: 0;">
                Client <b>{top_client_name}</b> terdeteksi sebagai kontributor pendapatan terbesar dengan total belanja <b>{top_client_spend_fmt}</b>.
                <br><br>
                <b>Rekomendasi CRM Retention:</b><br>
                Masukkan <b>{top_client_name}</b> ke dalam prioritas reservasi weekend dan kirimkan WhatsApp Greetings dengan voucher cashback terarah.
            </p>
        </div>
