  <div class="glass-card" style="border-top: 4px solid #38BDF8; height: 100%;">
            <h4 style="margin: 0px 0px 8px 0px; color: #38BDF8;">🎯 Penjualan Paket Bundling</h4>
            <p style="font-size: 13.5px; color: #CBD5E1; line-height: 1.5; margin: 0;">
                Destinasi <b>JATIM</b> mendominasi total perjalanan (>95% transaksi). Destinasi ke luar provinsi (Jateng & Jakarta) memiliki margin tinggi namun volume sewa rendah.
                <br><br>
                <b>Rekomendasi Bundling:</b><br>
                Buat promosi paket <i>"Include All (Driver+Tol+Fuel)"</i> khusus untuk rute luar JATIM untuk mendongkrak margin keuntungan.
            </p>
        </div>
